@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	text-align: center;
	background-color: #FFCDC7

}

nav {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	text-transform: uppercase;
	line-height: 0.5em;
	background:#FFED86;
	padding: 20px;
}

img {
	line-height: 1.4em;
}

h1,h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-decoration: italic;
	text-transform: uppercase;
	line-height: 1.4em;
}

h1 {
	font-weight: bold;
	background:#FFED86;

}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	background-color: #ED9987;
	font-size: 24px;
}

#slogan {
	font-weight: bold;
	text-decoration: italic;
}

h3 {
	text-align: left;
	font-size: 20px;
	background:#FFED86;
	line-height: 1.4em;
}

p {
	font-family: 'Raleway', sans-serif;
	background-color: #FFA4E6;
}

li {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

a {
	font-size: italic;
	text-decoration: none;
}

footer {
	font-family: 'Raleway', sans-serif;
	font-size: italic;
	text-decoration: none;
	background-color: white;
}

div {
	background-color: #FFC8FA
}


