body {
	text-align: center;
	background-color: #FFCDC7

}
h1,h3 {
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-decoration: italic;
	text-transform: uppercase;
}

h1 {
	font-weight: bold;
	background:#FFED86;

}

#slogan {
	font-weight: bold;
	text-decoration: italic;
}

h3 {
	font-size: 26px;
}

p {
	font-family: "Arial", monospace;
}

a {
	font-size: italic;
	text-decoration: none;
}